.App {
  padding-top: 54px;
}

.entire-signup {
  max-width: 600px;
}

.entire-login {
  max-width: 600px;
}

.selling-point,
.point1 {
  text-align: center;
  color: white;
}

.point1 {
  padding: 1em;
}

.selling-section {
  background-color: black;
  opacity: 0.7;
  display: block;
  padding-bottom: 60px;
}

.input-group {
  max-width: 500px;
  padding-top: 90px;
}

.list-group,
.list-group-item {
  max-width: 800px;
  text-align: center;
  display: inline-block;
}
